@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Forum&family=Mea+Culpa&display=swap');

body {
  margin: 100px;
  background-image: url(https://pbs.twimg.com/media/DNOFZaAW4AEm3Yf.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

p {
  font-family: "forum";
}

.container {
  background-color: rgba(223, 101, 101, 0.822);
  padding-left: 5%;
  padding-right: 5%;
  border: solid black;
  border-radius: 5%;
}

h1 {
  font-family: "Mea Culpa";
  text-align: center;
  font-size: 10em;
}

h2 {
  font-family: "Mea Culpa";
  text-align: center;
  font-size: 8rem;
}

#attribution {
  text-align: center;
}

.logo {
  height: 80%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.row {
  background-color: bisque;
  border: solid rgb(8, 87, 8) 10px;
}
  
.book {
  display: none;
}

.col-6 {
  border: solid black;
}

h2 {
  text-align: center;
}

#show-description {
  padding: 5%;
}